@media (pointer: coarse) and (width < 768px) {
	body {
		align-items: start;
	}

	#bg-canvas {
		filter: blur(2px);
		pointer-events: none;
	}

	.container {
		margin-top: 50px;
	}

	h1 {
		font-size: 2.5rem;
	}

	.quote {
		font-size: 1.9rem;
	}

	.champion-input::placeholder {
		font-size: 0.9rem;
	}

	.skip-piece:nth-child(1)::after {
		left: 60%;
	}

	.skip-piece:nth-child(2)::after {
		left: 38%;
	}

	.wrong-attempts::before {
		font-size: 2.7rem;
		top: 45%;
	}

	.attempt-segments {
		transform: scale(0.95);
	}

	.attempt-segment::before {
		font-size: 0.75rem;
	}

	.game-over-content {
		padding: 0.5rem 1rem;
	}

	.game-over-content h2 {
		font-size: 2.5rem;
	}

	.stats-grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 0.5rem;
	}

	.stat-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#play-again-btn {
		margin-bottom: 0.5rem;
	}

	button:hover:not(:disabled),
	button:active:not(:disabled),
	button:focus:not(:disabled) {
		font-weight: inherit !important;
		background-color: inherit !important;
		color: inherit !important;
		transform: none !important;
	}

	/* Reset específico para cada elemento */
	button:nth-child(2):hover:not(:disabled),
	button:nth-child(2):active:not(:disabled) {
		background-color: var(--dark-red) !important;
		font-weight: bold !important;
		transform: none !important;
	}

	button:nth-child(1):hover:not(:disabled),
	button:nth-child(1):active:not(:disabled) {
		color: var(--surface-color) !important;
		font-weight: bold !important;
	}

	button:nth-child(1):hover:not(:disabled) .skip-piece,
	button:nth-child(1):active:not(:disabled) .skip-piece {
		transform: skew(-20deg) !important;
	}

	.champion-option:hover::before,
	.champion-option:active::before,
	.champion-option:hover::after,
	.champion-option:active::after {
		left: -15px !important;
		background: transparent !important;
	}

	.champion-option:hover,
	.champion-option:active {
		transform: none !important;
	}

	#play-again-btn:hover,
	#play-again-btn:active {
		font-weight: bold !important;
		background-color: var(--gold-transparent) !important;
        color: var(--surface-color) !important;
    }

	#answer.hidden-answer:hover,
	#answer.hidden-answer:active {
		filter: blur(5px) !important;
		color: var(--semi-transparent) !important;
	}

	* {
		-webkit-tap-highlight-color: transparent;
	}
}
